@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #1c84ff;
  --secondary-color: #131c21;
  --tertiary-color: #1c355e;
  --quadriple-color: #051c2c;
  --white: #fff;
  --black: #000;
  --light-dark: #243036;
  --gray: #ddd;
  --para-color: rgba(5, 28, 44, 0.7);
  --primary-shadow: 0px 10px 50px rgba(53, 82, 99, 0.09);
  --hover-shadow: 0px 10px 50px rgba(53, 82, 99, 0.2);
  --blue-shadow: 0px 10px 12px rgba(25, 114, 204, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.navbar-brand img {
  max-width: 166px;
}

.navbar {
  padding: 16px 0;
}

#navbarSupportedContent .nav-item {
  position: relative;
}

#navbarSupportedContent .nav-item:hover .dropdown-menu {
  display: block;
}
#navbarSupportedContent .dropdown-menu {
  top: calc(100% - 2px);
}

#navbarSupportedContent .dropdown-menu {
  border: none;
  box-shadow: 0 16px 50px rgba(0, 0, 0, 0.2);
  min-width: 12em;
  text-align: left;
}

#navbarSupportedContent .dropdown-menu .dropdown-item {
  padding: 10px 10px 10px 20px;
}

#navbarSupportedContent .dropdown-menu .dropdown-item:hover {
  background: var(--white);
  color: var(--primary-color);
}

.container-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.para {
  font-size: 16px;
  line-height: 24px;
  color: var(--para-color);
  margin-bottom: 25px;
}

.cus-pagination {
  width: 100%;
  padding: 35px 0;
}

.cus-pagination .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0;
}

.cus-pagination .pagination .page-item .page-link {
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 27px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: var(--white-color);
  border-radius: 0;
}
.cus-pagination .pagination .page-item.disabled .page-link {
  border-color: #c1b9b9;
  color: #c1b9b9;
}

.cus-pagination .pagination .page-item.active .page-link,
.cus-pagination .pagination .page-item .page-link:hover {
  background: var(--tertiary-color);
  color: var(--white);
}

/* header  */
header {
  border-bottom: 1px solid #c4c4c4;
}

.navbar-nav {
  align-items: center;
}

.nav-item .btn-primary {
  margin-left: 65px;
}

.navbar-nav .nav-item {
  margin-left: 34px;
  color: var(--black);
}

.nav-item .nav-link {
  color: var(--black) !important;
  font-weight: 300;
}
.nav-item .nav-link:hover {
  color: var(--primary-color) !important;
}
.nav-item.active .nav-link {
  color: var(--primary-color) !important;
  position: relative;
  font-weight: 600;
}
/* .nav-item.active .nav-link:before {
  content: "";
  height: 5px;
  width: 5px;
  position: absolute;
  border-radius: 50%;
  background: var(--quadriple-color);
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
} */

.btn-primary {
  background: var(--primary-color);
  color: var(--white);
  padding: 24px 43px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid transparent;
  font-size: 18px;
  transition: all 0.3s;
  font-weight: 500;
  height: 75px;
  min-width: 200px;
  text-transform: uppercase;
  line-height: 27px;
}

.btn-primary:hover {
  border: 2px solid var(--primary-color);
  background: var(--white);
  color: var(--primary-color);
  text-decoration: none;
}

.primary-title {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.seconday-title {
  font-weight: bold;
}

.seconday-title .stop {
  margin-left: 10px;
}

.stop {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: var(--tertiary-color);
  margin-left: 10px;
}

.form-control {
  margin-bottom: 30px;
  height: 60px;
  border-radius: 0;
  border: 1px solid var(--black);
}

textarea.form-control {
  height: 175px;
}

.form-control::placeholder {
  color: var(--black);
}

.navbar-nav .nav-item .btn-primary {
  box-shadow: 0px 10px 12px rgba(25, 114, 204, 0.3);
  transition: all 0.3s;
}

.navbar-nav .nav-item .btn-primary:hover {
  box-shadow: none;
}

/* service start  */
.service {
  padding: 100px 0 0;
}
.service .container {
  max-width: 1200px;
}
.service .top-block {
  text-align: center;
}

.service .top-block .service-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  margin-bottom: 27px;
}

.top-block .desc {
  width: 85%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 27px;
}

.service .cards-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0 0;
}

.service .cards-wrapper .card-block {
  text-align: center;
  padding: 150px 40px 25px;
  position: relative;
  background: var(--white);
  width: 220px;
  box-shadow: var(--primary-shadow);
  min-height: 245px;
  text-decoration: none;
  color: var(--tertiary-color);
  flex: 0 0 calc(100% / 5 - 12px);
  max-width: calc(100% / 5 - 12px);
  margin-right: 15px;
}

.service .cards-wrapper .card-block:last-of-type {
  margin: 0;
}

.service .cards-wrapper .card-block:hover {
  box-shadow: var(--hover-shadow);
}

.service .cards-wrapper .card-block img {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  transition: all 0.3s;
}

.service .cards-wrapper .card-block:hover img {
  transform: translate(-50%, -30%);
}

.service .cards-wrapper .card-block .text {
  margin: 0;
}

.bottom-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.bottom-block .block {
  flex: 0 0 50%;
  max-width: 50%;
}

.bottom-block .img-wrapper {
  padding-right: 50px;
}
.bottom-block .text-wrapper {
  padding-left: 50px;
}

.bottom-block .block .desc {
  font-size: 25px;
  line-height: 37px;
  margin-bottom: 20px;
  font-weight: 700;
}

.bottom-block .block .para {
  font-size: 16px;
  line-height: 24px;
}

.bottom-block .block .btn-primary {
  margin-top: 48px;
  height: 60px;
  background: var(--tertiary-color);
}
.bottom-block .block .btn-primary:hover {
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
  background: var(--white);
}

/* gallery section  */

.gallery {
  text-align: center;
}
.gallery .title {
  font-size: 45px;
  line-height: 67px;
}
.gallery .top-block {
  margin-bottom: 40px;
}

.gallery .stop {
  margin-left: 10px;
  background: var(--tertiary-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery-item .gallery-card a {
  position: relative;
  display: block;
}

.gallery-list .gallery-item .gallery-card img {
  height: 372px;
  width: 100%;
  object-fit: cover;
}

.gallery-item .gallery-card a:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  top: 0;
  transform: scale(0);
  transition: all 0.3s;
}

.gallery-item .gallery-card img {
  transition: all 0.3s;
}

.gallery-item .gallery-card a:hover img {
  transform: scale(1.1);
}

.gallery-item .gallery-card a:hover:before {
  transform: scale(1);
}

.gallery-item {
  flex: 0 0 calc(100% / 5 - 12px);
  max-width: calc(100% / 5 - 12px);
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.gallery-item:nth-child(5n) {
  margin-right: 0;
}

/* testimonial section  */

.testimonial {
  background: #051c2c;
  padding: 110px 275px;
  margin: 100px 100px 75px;
}

.testimonial-slider {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.testimonial-slider .img-wrapper {
  padding-right: 100px;
}

.testimonial-slider .img-wrapper img {
  min-width: 225px;
  height: 225px;
  border-radius: 50%;
}

.testimonial-slider .text-wrapper {
  color: var(--white);
}
.testimonial-slider .text-wrapper .quote {
  width: 102.3px;
  height: 81px;
  margin-bottom: 35px;
}
.testimonial-slider .text-wrapper .para {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 28px;
  color: var(--white);
}

.testimonial-slider .text-wrapper .author {
  color: var(--white);
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.testimonial .slick-arrow {
  position: absolute;
  height: 100px;
  width: 100px;
  background: var(--white);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  top: auto;
  transform: none;
  border: none;
}

.testimonial .slick-arrow:focus,
.testimonial .slick-arrow:active {
  outline: none;
}

.testimonial .slick-next {
  left: 100px;
  background: var(--tertiary-color);
  color: var(--white);
  /* border: 2px solid var(--primary-color); */
}

.testimonial .slick-prev {
  left: 0;
  background: var(--white);
  /* border: 2px solid var(--white); */
}

.testimonial .slick-prev:before {
  content: "\f177";
  font-family: "Fontawesome";
  color: var(--black);
}
.slick-next:before {
  content: "\f178";
  font-family: "Fontawesome";
}

.testimonial .slick-next:hover,
.testimonial .slick-prev:hover {
  background: var(--primary-color);
}

.testimonial .slick-next:hover:before,
.testimonial .slick-prev:hover:before {
  color: var(--white);
}

/* 
.slick-next:hover:hover,
.slick-next:hover:focus,
.slick-next:hover:active {
  background: var(--white);
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.slick-next:hover:hover:before,
.slick-next:hover:active:before,
.slick-next:hover:focus:before {
  color: var(--primary-color);
} */

/*Todo blog section  */

.blog {
  text-align: center;
  padding-bottom: 50px;
}
.blog .top-block {
  margin-bottom: 50px;
}
.blog .top-block .stop {
  margin-left: 10px;
  background: var(--tertiary-color);
}

.blog .top-block .seconday-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
}

.blogs-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* .blog-card {
  flex: 0 0 calc(370px - 30px);
  max-width: calc(370px - 30px);
} */
.blog-card {
  flex: 0 0 calc(100% / 3 - 12px);
  max-width: calc(100% / 3 - 12px);
  margin-right: 15px;
  margin-bottom: 15px;
}

.blog-card:nth-child(3n) {
  margin-right: 0;
}

.blog-card .img-wrapper {
  position: relative;
  min-height: 250px;
}

.blog-card .img-wrapper .date {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: var(--tertiary-color);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-card .img-wrapper .date .day {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.blog-card .img-wrapper .date .month {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}

.blog-card .text-wrapper .title {
  text-align: left;
  padding: 20px 0 15px;
  font-size: 18px;
  line-height: 27px;
  color: var(--tertiary-color);
  margin-bottom: 0;
  font-weight: bold;
  display: block;
  text-decoration: none;
  min-height: 90px;
  width: 100%;
}

.blog-card .text-wrapper .desc {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  opacity: 0.7;
}

/* footer section  */
footer {
  background: #051c2c;
}
.footer-row {
  padding: 80px 0px 40px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-row .cus-col:nth-child(1) {
  flex: 0 0 25%;
  max-width: 25%;
}
.footer-row .cus-col:nth-child(2) {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding-right: 8.3%;
}

.footer-row .logo {
  padding-top: 50px;
}

.footer-row .cus-col:nth-child(3) {
  flex: 0 0 25%;
  max-width: 25%;
}
.footer-row .cus-col:nth-child(4) {
  flex: 0 0 16.6%;
  max-width: 16.6%;
}

.footer-row .cus-col {
  padding: 0px 15px;
}

.footer-row .cus-col .title {
  color: var(--white);
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
}
.footer-row .cus-col .footer-list {
  padding: 0;
}

.footer-row .cus-col .footer-list .footer-item a {
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  opacity: 0.7;
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
}

.footer-row .cus-col .footer-list .footer-item a:hover {
  opacity: 1;
}

.footer-row .cus-col .footer-list .footer-item.address {
  color: var(--white);
  opacity: 0.7;
}

.footer-row .cus-col .footer-list .footer-item a .label {
  font-weight: 700;
}
.footer-row .cus-col .footer-list .footer-item.phone {
  margin-bottom: 15px;
}

.copy-right {
  background: #09263a;
  text-align: center;
  padding: 16px 0;
}
.copy-right .text {
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  margin: 0;
}

/* contact form  */

.contact-form {
  background: var(--tertiary-color) url("../../images/frontend/map.svg");
  background-position: center bottom;
  text-align: center;
  padding-top: 100px;
  min-height: 700px;
  position: relative;
  margin-bottom: 300px;
}

.contact-form .primary-title {
  font-size: 24px;
  line-height: 36px;

  text-align: center;
  letter-spacing: 0.2em;
}
.contact-form .service-title {
  color: var(--white);
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
}

.contact-form .stop {
  background: var(--white);
  height: 10px;
  width: 10px;
  margin-left: 10px;
}

.contact-form .floating-form {
  background: var(--white);
  width: calc(100% - 750px);
  position: absolute;
  left: 50%;
  top: 225px;
  transform: translateX(-50%);
  box-shadow: 0px 10px 50px rgba(53, 82, 99, 0.2);
  border-radius: 15px;
}

.floating-form[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0) translate(-50%, -0%);
}

.contact-form .floating-form .form-control {
  margin-bottom: 30px;
  height: 60px;
  border-radius: 0;
  border: 1px solid var(--black);
}

.contact-form .floating-form textarea.form-control {
  height: 175px;
}

.contact-form .floating-form .form-control::placeholder {
  color: var(--black);
}

.floating-form .btn-primary {
  background: var(--tertiary-color);
  color: var(--white);
  border: 2px solid transparent;
  height: 60px;
  transition: all 0.3s;
  text-transform: capitalize;
}
.floating-form .btn-primary:hover {
  background: transparent;
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
}

.attach-file {
  margin-bottom: 20px;
  margin-top: 25px;
}

.common-banner {
  text-align: center;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: var(--white);
  position: relative;
  margin-bottom: 130px;
}

.common-banner .floating-quote-btn {
  padding: 24px 43px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid transparent;
  font-size: 18px;
  transition: all 0.3s;
  font-weight: 500;
  height: 75px;
  min-width: 200px;
  text-transform: uppercase;
  line-height: 27px;
  background: var(--white);
  color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 0px 40px 40px rgba(24, 27, 34, 0.3);
}

.common-banner .floating-quote-btn:hover {
  background: var(--tertiary-color);
  border-color: var(--white);
  color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.common-banner .title {
  font-size: 36px;
  line-height: 54px;
  margin: 0;
}

.common-banner .bread-crumb {
  margin: 0;
  font-size: 22px;
  line-height: 33px;
}

/* pdf start */
.title-wrapper {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

/* .title-wrapper:before {
  content: "";
  position: absolute;
  width: 50px;
  height: calc(100% + 20px);
  left: -20px;
  top: 50%;
  transform: translateY(-58%);
  border: 10px solidvar(--primary-color);
  border-radius: 10px 0 0 10px;
  border-right: none;
  background: transparent;
} */

.title-wrapper h2,
.title-wrapper p {
  margin: 0;
}
.title-wrapper h2 {
  color: var(--primary-color);
}

/* Form fields */
#proposal-form {
  margin: 0 auto;
}
#proposal-form ul {
  padding-left: 0;
  text-align: center;
}
#proposal-form li {
  list-style: none;
}
#proposal-form input[type="text"],
#proposal-form input[type="email"],
#proposal-form textarea,
#proposal-form select {
  margin-bottom: 30px;
  height: 60px;
  border-radius: 0;
  border: 1px solid var(--black);
  width: 100%;
}

#proposal-form input::placeholder,
#proposal-form textarea::placeholder,
#proposal-form select::placeholder {
  font-size: 16px;
}

#proposal-form input[type="text"]:focus,
#proposal-form input[type="email"]:focus,
#proposal-form textarea:focus,
#proposal-form select:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(28 132 255 / 0.3);
  border: 1px solid var(--primary-color) !important;
}

#proposal-form select {
  background: url("https://seashineadventures.com/wp-content/uploads/2017/08/grey-chevron.png") no-repeat;
  -webkit-appearance: none;
  appearance: none;
  background-size: 15px;
  background-position: 97% 50%;
}
#proposal-form textarea {
  height: 120px;
  line-height: 1.5;
  padding: 15px 10px;
}

#proposal-form label {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Buttons */
/* #proposal-form .next-btn,
#proposal-form .prev-btn,
#proposal-form .submit-btn {
  background: var(--primary-color);
  padding: 13px 20px;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  border-radius: 0;
  border: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
  width: 100%;
  cursor: pointer;
  height: 60px;
  background: var();
} */

#proposal-form .btn-primary {
  width: 100%;
  border: 2px solid transparent;
  flex: 0 0 calc(50% - 2em);
  max-width: calc(50% - 2em);
  padding: 0;
  font-size: 16px;
}

#proposal-form .btn-primary:hover {
  border: 2px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

#proposal-form .btn-primary:active,
#proposal-form .btn-primary:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid var(--tertiary-color);
  color: var(--tertiary-color);
  background: transparent;
}

/* Progress Bar */
.progress-wrap {
  margin: auto;
  display: table;
}
.line-progress-bar {
  display: flex;
  margin: auto;
  width: 100%;
  position: relative;
  margin: 25px 0 35px 0;
}
.line {
  height: 1px;
  width: 250px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--white);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}
.progress-wrap div ul {
  display: flex;
  width: 250px;
  list-style: none;
  padding: 0px;
  margin: initial;
  justify-content: space-between;
  z-index: 1;
}
.progressbar-dots {
  display: inline-flex;
  border: #949494 solid 4px;
  background: #333333;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #d4d4d4;
  font-size: 20px;
  margin-left: 0px;
  color: #d4d4d4;
  border: 0px solid var(--white);
  background: var(--white);
  cursor: pointer;
}
.progressbar-dots span {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  margin-top: 60px;
  /* width: 75px; */
  float: left;
  margin-left: -30px;
  display: none;
}

.progressbar-dots.active {
  color: #fff;
  border: 0px solid rgb(38, 163, 134);
  background: var(--primary-color);
}

.progressbar-dots.active {
  position: relative;
}

.progressbar-dots.active:not(:first-of-type):before {
  content: "";
  height: 3px;
  top: calc(20% + 20px);
  left: 0;
  background: var(--primary-color);
  min-width: 70px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/*  Tab */
.contact-form .tab-pane {
  padding: 90px;
  border-radius: 7px;
  border: 1px solidvar(--primary-color);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
  display: none;
}

.contact-form .tab-pane:first-child {
  display: block;
}

/* Error */
span.error {
  font-size: 12px;
  color: #d6041d;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-parent .main-label {
  margin: 0 !important;
}

.checkbox-wrapper label {
  margin: 0 !important;
}

.checkbox-wrapper input {
  margin-left: 5px;
}

.multi-checkbox-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  margin-left: 25px;
  position: relative;
}

.multi-checkbox-wrapper span.error {
  position: absolute;
  top: -5px;
  right: 0;
  transform: translateY(-100%);
  margin: 0;
}

table {
  width: 100%;
}

.table thead th,
.table-bordered td,
.table-bordered th {
  border-color: #dee2e6;
  vertical-align: middle;
  text-align: center;
}

.long-table {
  border: none !important;
}

.long-table thead th,
.long-table thead td {
  font-weight: 400;
  font-size: 15px;
}

.long-table tbody th,
.long-table tbody td {
  font-weight: 400;
  font-size: 13px;
  padding: 0;
  padding: 2px 5px;
}

.long-table tbody th {
  font-weight: 600;
  color: var(--primary-color);
}

#proposal-form .long-table .form-control {
  margin: 0 !important;
  height: auto;
  padding: 5px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 0;
  border-color: var(--primary-color);
  color: var(--tertiary-color);
}

.declaration {
  margin-bottom: 25px;
}

.long-table .empty-row td {
  padding: 15px !important;
  border: none;
}

.form-group {
  position: relative;
}

.form-group span.error {
  margin: 0;
  position: absolute;
  top: -5px;
  right: 0;
  transform: translateY(-100%);
}

/* footer  */
.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
}

.contact-list > li {
  flex: 0 0 33%;
  max-width: 33%;
  margin-bottom: 5px;
}

.contact-list .inner-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.contact-list .inner-list .label {
  margin: 0;
  font-weight: 600;
}
.contact-list .inner-list a {
  color: #333;
  font-weight: 300;
}

.contact-list .inner-list li:not(:last-of-type) {
  margin-right: 5px;
}

span.error {
  text-transform: capitalize;
}

.contact-form .tab-pane .long-table span.error {
  margin: 0;
  font-size: 10px;
}

.contact-form .tab-pane .btn-wrapper #attach-file {
  display: none;
}
.contact-form .tab-pane .btn-wrapper .attach-file-label {
  cursor: pointer;
  margin: 0 !important;
  flex: 0 0 calc(50% - 2em);
  max-width: calc(50% - 2em);
  background: var(--gray);
  color: var(--tertiary-color);
  height: 60px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.contact-form .tab-pane .btn-wrapper .attach-file-label .icon {
  margin-right: 5px;
}

.contact-form .tab-pane .btn-wrapper .attach-file-label:hover {
  border: 2px solid var(--tertiary-color);
  color: var(--tertiary-color);
  background: transparent;
}

/* common select 2 style  */

.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 55px !important;
  border-radius: 0 !important;
  border-color: var(--black) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 55px !important;
  text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 55px !important;
}

.select2.select2-container.select2-container--default:focus,
.select2.select2-container.select2-container--default:focus .selection {
  outline: none;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 0;
  border-color: var(--tertiary-color);
}

.select2-results__option--selectable {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: var(--primary-color);
  background: transparent;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
  border: none;
  box-shadow: 0 16px 50px rgba(0, 0, 0, 0.2);
}

.select2-container--default .select2-results__option--selected {
  background-color: transparent;
  color: var(--primary-color);
}

.select2-container .select2-selection--single,
.selection:focus {
  outline: none;
}

.note.para {
  text-align: left;
  font-size: 14px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background: var(--primary-color);
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background: var(--primary-color);
  color: var(--white);
}

.select2-container--open .select2-dropdown--above {
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  border: none;
  box-shadow: 0 -16px 50px rgba(0, 0, 0, 0.2);
}

#proposal-form .instruction-list {
  text-align: left;
}

.footer-row .cus-col .footer-list .footer-item a:hover .label {
  opacity: 0.7;
}

.footer-row .cus-col .footer-list .footer-item .label {
  color: var(--white);
  opacity: 0.7;
  font-weight: 600;
}

.footer-row .cus-col .footer-list .footer-item.address .label {
  font-weight: 600;
  opacity: 1;
}

.blogs-row .blog-card:last-child {
  margin-bottom: 0;
}

.footer-row .cus-col .footer-list .footer-item.phone {
  display: flex;
  align-items: center;
}

.footer-row .cus-col .footer-list .footer-item.phone .service-title {
  display: flex;
  color: var(--white);
  font-size: 34px;
  align-items: center;
  /* margin-right: 5px; */
  margin: 0;
  margin-left: 5px;
  opacity: 0.7;
}

.footer-row .cus-col .footer-list .footer-item.phone .service-title:hover {
  opacity: 1;
}

.footer-row .cus-col .footer-list .footer-item.phone .service-title .rest {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 13px;
  margin-left: 5px;
  line-height: 1.25;
}

.footer-row .cus-col .footer-list .footer-item.phone .service-title .rest .bottom {
  font-size: 15px;
}

.footer-row .cus-col .footer-list .footer-item.phone a {
  margin-bottom: 0;
  margin-left: 5px;
}

.footer-row .cus-col .footer-list .footer-item.address span:nth-of-type(2) {
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
}

.table-condensed thead tr:nth-of-type(2) {
  color: var(--primary-color);
}
