@media (max-width: 1680px) {
  .two-para-col {
    padding-right: 25px;
  }
  .about-list {
    padding: 50px;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 324px;
  }
}

@media (max-width: 1600px) {
  .service-content .bg-img-left {
    width: 12%;
  }
  .testimonial {
    padding: 75px 200px;
  }
}

@media (max-width: 1440px) {
  .common-banner {
    min-height: 300px;
  }
  .common-banner .title {
    font-size: 32px;
  }
  .common-banner .bread-crumb {
    font-size: 18px;
  }

  .nav-item .btn-primary {
    margin-left: 30px;
  }
  .banner {
    padding: 150px 0px 150px;
  }

  .banner .hero-text {
    font-size: 76px;
  }
  .navbar-nav .nav-item {
    margin-left: 15px;
  }
  .container-100 {
    padding-left: 75px;
    padding-right: 75px;
  }
  .contact-form .floating-form {
    width: calc(100% - 350px);
  }
  .testimonial {
    margin-left: 75px;
    margin-right: 75px;
  }
  .gallery .stop,
  .contact-form .stop,
  .blog .top-block .stop {
    margin-left: 7px;
  }
  .banner .stop {
    bottom: 6px;
    right: -10px;
  }
  .banner .desc {
    font-size: 24px;
  }
  .two-para-col {
    padding-top: 25px;
    padding-right: 15px;
  }
  .about .container {
    max-width: 1140px;
  }
  .about-img-1 {
    margin: 25px 0px 40px;
  }

  .banner .left-worker {
    width: 8%;
  }
  .banner .right-worker {
    width: 14%;
  }
  .testimonial {
    padding: 50px 125px;
  }
  .testimonial-slider .text-wrapper .quote {
    height: 60px;
  }
  .testimonial .slick-next {
    left: 75px;
  }
  .testimonial .slick-arrow {
    height: 75px;
    width: 75px;
  }
  .testimonial-slider .img-wrapper img {
    min-width: 200px;
    height: 200px;
  }

  .btn-primary {
    padding: 24px 35px;
    min-width: 200px;
    height: 65px;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 276px;
  }
}

@media (max-width: 1366px) {
  .navbar-nav .nav-item {
    margin-left: 10px;
  }
  .btn-primary {
    min-width: 225px;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 261px;
  }
}

@media (max-width: 1280px) {
  .navbar-brand img {
    max-width: 125px;
  }
  .nav-item .btn-primary {
    margin-left: 0px;
  }
  .container-100 {
    padding-left: 50px;
    padding-right: 50px;
  }
  .navbar-nav .nav-item {
    margin-left: 10px;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 244px;
  }
}

@media (max-width: 1200px) {
  .navbar-nav .nav-item .btn-primary {
    padding: 10px 20px;
    height: 55px;
    min-width: auto;
  }
  .contact-form .floating-form {
    width: 100%;
    max-width: 900px;
  }
  .service .cards-wrapper .card-block img {
    width: 125px;
    height: 125px;
  }
  .service .cards-wrapper .card-block {
    padding: 115px 30px 30px;
    min-height: 215px;
  }
  .service .cards-wrapper .card-block .text {
    font-size: 20px;
  }
  .testimonial-slider .img-wrapper {
    padding-right: 25px;
  }
  .testimonial {
    padding: 50px 50px;
  }
  .testimonial-slider .text-wrapper .quote {
    height: 50px;
  }
  .testimonial-slider .text-wrapper .para {
    font-size: 18px;
    line-height: 25px;
  }
  .testimonial-slider .text-wrapper .author {
    font-size: 22px;
    line-height: 30px;
  }
  .service .top-block .service-title {
    font-size: 42px;
    line-height: 56px;
  }
  .stop {
    height: 12px;
    width: 12px;
  }
  .blog-card .img-wrapper {
    min-height: 215px;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 228px;
  }
  .service-title {
    font-size: 42px;
    line-height: 56px;
  }
  .primary-title {
  }
}

@media (max-width: 1024px) {
  .service .cards-wrapper .card-block .text {
    font-size: 18px;
  }
  .service .cards-wrapper .card-block img {
    width: 100px;
    height: 100px;
  }
  .service .cards-wrapper .card-block {
    padding: 100px 30px 30px;
    min-height: 195px;
  }
  .primary-title {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0.15em;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 192px;
  }
  footer .container {
    max-width: 960px;
  }
  footer .footer-row .cus-col:nth-child(4) .footer-list a {
    margin-bottom: 0;
  }

  footer .footer-row .cus-col:nth-child(4) .title {
    margin-bottom: 0;
  }

  footer .footer-row .cus-col:nth-child(4) .footer-list {
    justify-content: flex-start;
  }

  footer .footer-row .cus-col:nth-child(4) .footer-list .footer-item {
    margin-right: 25px;
  }

  footer .footer-row .cus-col:nth-child(4) .footer-list {
    margin-left: 25px;
  }
  footer .footer-row .cus-col:nth-child(4) {
    justify-content: center;
  }
  footer .footer-row .cus-col:nth-child(4) .footer-list {
    flex: none;
  }
}

@media (max-width: 991px) {
  .navbar-nav .nav-item .btn-primary {
    min-width: 100%;
  }

  .testimonial {
    padding: 50px 50px;
    margin: 50px 25px;
  }
  .navbar-light .navbar-toggler .navbar-toggler-icon {
    display: none;
  }

  .navbar-light .navbar-toggler {
    position: relative;
    font-size: 30px;
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
  }
  .navbar-light .navbar-toggler:before {
    font-family: "FontAwesome";
  }
  .navbar-light .navbar-toggler[aria-expanded="false"]:before {
    content: "\f0c9";
  }

  .navbar-light .navbar-toggler[aria-expanded="true"]:before {
    content: "\f00d";
  }

  .navbar-brand img {
    max-width: 100px;
  }
  .container-100 {
    padding: 0 15px;
    margin: 0 auto;
  }

  #navbarSupportedContent .nav-item {
    width: 100%;
    margin: 0;
  }

  #navbarSupportedContent .nav-item.active .nav-link {
    background: var(--tertiary-color);
    color: var(--white) !important;
  }

  #navbarSupportedContent .nav-item .nav-link {
    text-align: center;
    padding: 10px;
  }

  #navbarSupportedContent .nav-item .nav-link:hover {
    background: var(--tertiary-color);
    color: var(--white) !important;
  }
  .testimonial-slider .img-wrapper img {
    min-width: 150px;
    height: 150px;
    width: 150px;
    padding-right: 0;
  }
  .testimonial-slider .text-wrapper .quote {
    height: 40px;
    margin-bottom: 25px;
  }
  .testimonial-slider .text-wrapper .para {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .testimonial-slider .text-wrapper .author {
    font-size: 20px;
    line-height: 28px;
  }
  .testimonial {
    padding: 50px 50px;
  }
  .testimonial .slick-arrow {
    height: 60px;
    width: 60px;
  }
  .testimonial .slick-next {
    left: 60px;
  }
  .blog-card {
    flex: 0 0 calc(100% / 2 - 8px);
    max-width: calc(100% / 2 - 8px);
    margin-right: 15px;
  }
  .blog-card:nth-of-type(2n) {
    margin-right: 0;
  }

  .gallery-item {
    flex: 0 0 calc(100% / 4 - 12px);
    max-width: calc(100% / 4 - 12px);
  }

  .gallery-item:nth-child(5n) {
    margin-right: 15px;
  }

  .gallery-item:nth-child(4n) {
    margin-right: 0;
  }
  .contact-form .floating-form {
    max-width: 720px;
  }
  .contact-form .tab-pane {
    padding: 50px;
  }
  .footer-row .cus-col {
    flex: 0 0 33% !important;
    max-width: 33% !important;
  }

  .footer-row {
    flex-wrap: wrap;
  }

  .footer-row .cus-col:nth-child(4) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .footer-row .cus-col:nth-child(4) .footer-list {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin: 0;
  }
  .footer-row .cus-col:nth-child(2) {
    padding-right: 15px;
  }
  #navbarSupportedContent .dropdown-menu {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 235px;
  }
  .common-banner {
    min-height: 230px;
  }
  .common-banner .floating-quote-btn {
    height: 65px;
    font-size: 18px;
  }
  #proposal-form #step-4 .btn-wrapper {
    flex-wrap: wrap;
  }

  #proposal-form #step-4 .btn-primary {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #proposal-form #step-4 .prev-btn {
    margin-bottom: 20px;
  }
  #proposal-form #step-4 .multi-checkbox-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  #proposal-form #step-4 .checkbox-parent {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .gallery-item {
    flex: 0 0 calc(100% / 3 - 10px);
    max-width: calc(100% / 3 - 10px);
  }
  .testimonial-slider {
    display: flex;
    flex-direction: column;
  }

  .testimonial-slider .text-wrapper {
    text-align: center;
  }
  .blogs-row {
    flex-wrap: wrap;
  }
  .blog-card {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .service .cards-wrapper {
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
  }

  .service .cards-wrapper .card-block {
    margin-top: 50px;
  }
  .service .cards-wrapper .card-block {
    flex: 0 0 calc(100% / 3 - 12px);
    max-width: calc(100% / 3 - 12px);
  }

  .service .cards-wrapper .card-block:nth-child(2n + 1) {
    margin-right: 20px;
  }
  .service .cards-wrapper .card-block:last-child {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
  }

  .floating-form {
    max-width: 540px;
  }
  .footer-row .cus-col:nth-child(1) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .footer-row .cus-col:nth-child(1) .logo {
    padding: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .footer-row .cus-col:nth-child(1) .logo img {
    margin: 0 auto;
  }

  .footer-row .cus-col:nth-child(2),
  .footer-row .cus-col:nth-child(3) {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .footer-row .cus-col:nth-child(4) h2,
  .footer-row .cus-col:nth-child(4) a {
    margin: 0 !important;
  }
  .contact-form .floating-form {
    max-width: unset;
    width: calc(100% - 30px);
    top: 175px;
  }
  .contact-form {
    padding-top: 50px;
  }
  .blog-card .text-wrapper .title {
    min-height: 90px;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 243px;
  }
  .gallery-item:nth-child(4n) {
    margin-right: 15px;
  }
  .gallery-item:nth-child(3n) {
    margin-right: 0;
  }
  #proposal-form .btn-wrapper label,
  #proposal-form .btn-wrapper button {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #proposal-form .btn-wrapper {
    flex-wrap: wrap;
  }
  #proposal-form .btn-wrapper label {
    margin-bottom: 20px !important;
    display: block;
  }
  #proposal-form input[type="text"],
  #proposal-form input[type="email"],
  #proposal-form select {
    height: 50px;
  }
  #proposal-form .btn-primary {
    padding: 0;
  }
  #proposal-form .btn-wrapper .prev-btn {
    margin-bottom: 20px;
  }
  .multi-checkbox-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .blog-card .text-wrapper .title {
    min-height: auto;
  }
}

@media (max-width: 576px) {
  .container-100 {
    max-width: 540px;
  }

  .multi-checkbox-wrapper {
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }
  .checkbox-parent {
    flex-direction: column;
    align-items: flex-start;
  }

  #proposal-form .btn-primary {
    min-width: auto;
    height: 50px;
    font-size: 16px;
    flex: 0 0 calc(50% - 1em);
    max-width: calc(50% - 1em);
  }

  .gallery-item {
    flex: 0 0 calc(100% / 2 - 8px);
    max-width: calc(100% / 2 - 8px);
  }

  .footer-row .cus-col:nth-child(2),
  .footer-row .cus-col:nth-child(3) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .footer-row .cus-col .footer-list .footer-item.phone a {
    margin: 0 !important;
  }
  .footer-row .cus-col:nth-child(1) .logo img {
    margin: 0;
  }
  .service .cards-wrapper .card-block {
    flex: 0 0 calc(100% / 2 - 15px);
    max-width: calc(100% / 2 - 15px);
  }
  .blog-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .btn-primary {
    font-size: 16px;
    height: 50px;
    padding: 15px 20px;
    min-width: 150px;
  }
  .service .cards-wrapper .card-block:nth-child(2n + 1) {
    margin-right: 10px;
  }

  .gallery-item:nth-child(3n) {
    margin-right: 15px;
  }

  .gallery-item:nth-child(2n) {
    margin-right: 0;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 280px;
  }

  .common-banner .floating-quote-btn {
    box-shadow: 0px 20px 20px rgba(24, 27, 34, 0.3);
    text-align: center;
    min-width: 250px;
    font-size: 16px;
    height: 50px;
    padding: 15px 20px;
  }
  .common-banner {
    margin-bottom: 75px;
  }
  .common-banner {
    min-height: 200px;
  }
  .para {
    margin-bottom: 15px;
  }
  #proposal-form .btn-wrapper label {
    min-width: auto;
    height: 50px;
    font-size: 16px;
  }
  .footer-row .cus-col .footer-list .footer-item.phone .service-title {
    margin-left: 5px !important;
  }
}

@media (max-width: 480px) {
  .gallery-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-right: 0;
  }
  .testimonial {
    padding: 60px 15px;
    margin: 50px 15px;
  }
  .footer-row .cus-col:nth-child(4) {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-row .cus-col:nth-child(4) h2 {
    margin-bottom: 20px !important;
  }
  .footer-row .cus-col:nth-child(4) .footer-list {
    flex-direction: column;
  }
  .footer-row .cus-col .footer-list .footer-item a {
    margin-bottom: 15px !important;
  }
  .footer-row {
    padding: 50px 0px 40px;
  }
  .blog .top-block .seconday-title {
    font-size: 38px;
    line-height: 45px;
  }
  .testimonial {
    padding: 25px 25px 65px;
    margin: 50px 15px;
  }
  .testimonial-slider .text-wrapper {
    margin-top: 15px;
  }
  .primary-title {
    font-size: 20px;
    line-height: 28px;
  }
  .gallery-list .gallery-item .gallery-card {
    overflow: hidden;
  }
  .footer-row .cus-col {
    padding: 0;
  }
  .copy-right .text {
    font-size: 14px;
    line-height: 18px;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 450px;
  }
  .common-banner .title {
    font-size: 28px;
    line-height: 40px;
  }
  .common-banner .bread-crumb {
    font-size: 16px;
    line-height: 24px;
  }
  #proposal-form .btn-wrapper .prev-btn {
    margin-bottom: 15px;
  }
  #proposal-form .btn-wrapper label {
    margin-bottom: 15px !important;
  }
  .contact-form .tab-pane {
    padding: 50px 25px;
  }
  .contact-form .floating-form textarea.form-control {
    height: 125px;
  }
  footer .footer-row .cus-col:nth-child(4) .footer-list {
    margin-left: 0;
  }
  .line {
    width: 245px;
    top: calc(50% + -1px);
  }
}

@media (max-width: 414px) {
  .gallery-list .gallery-item .gallery-card img {
    height: 384px;
  }
  .common-banner .floating-quote-btn {
    box-shadow: 0px 15px 15px rgba(24, 27, 34, 0.3);
    min-width: 225px;
    font-size: 14px;
    height: 45px;
    padding: 15px 15px;
  }
  .common-banner .bread-crumb {
    font-size: 14px;
    line-height: 22px;
  }
  .common-banner .title {
    font-size: 26px;
    line-height: 36px;
  }
  .common-banner {
    min-height: 150px;
  }
  .copy-right .text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 375px) {
  .gallery-list .gallery-item .gallery-card img {
    height: 345px;
  }
}
