@media (max-width: 1600px) {
  .service-content .bg-img-left{
    width: 12%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .services .container {
    max-width: 1024px;
  }
}


@media (max-width: 1366px) {
  .service-content .bg-img-left {
    left: 0;
    width: 13%;
  }
}

@media (max-width: 1280px) {
  .service-content .bg-img-left {
    width: 10%;
  }
  .service-content .bg-img-right {
    right: 0;
    width: 14%;
  }
}

@media (max-width: 1200px) {
  .service-tab li a {
    min-width: 175px;
  }
  .service-content .container {
    padding: 0 100px;
  }

  .service-img img {
    width: 100%;
  }

  .service-content .row .col-md-8 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .service-content .row .col-md-4 {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .services .service-title.top {
    font-size: 42px;
    line-height: 56px;
  }
}

@media (max-width: 1024px) {
  .service-content .container {
    padding: 0 15px;
  }
  .service-content .bg-img-left {
    display: none;
  }
}

@media (max-width: 991px) {
  .service-content .bg-img-left {
    width: 16%;
    top: 100%;
    transform: translateY(-25%);
    display: none;
  }
  .service-content .bg-img-right {
    width: 16%;
    top: 50%;
  }
  .service-tab {
    flex-wrap: wrap;
  }
  .service-tab li a {
    padding: 35px 25px;
  }
}

@media (max-width: 768px) {
  .service-content .row .col-md-4,
  .service-content .row .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .service-content .text-block {
    margin-bottom: 50px;
  }
  .service-img img {
    width: 50%;
  }
  .service-tab li {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .services .service-title.top br {
    display: none;
  }
  .services .service-title.top {
    font-size: 38px;
    line-height: 52px;
  }
  .service-content {
    margin-bottom: 0;
    padding-bottom: 100px;
  }
  .service-content .bg-img-right {
    top: 107%;
    width: 25%;
    transform: translateY(-100%);
  }
  .service-tab li a {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 576px) {
  .service-tab li a {
    padding: 30px 51px;
  }
  .service-list li {
    padding-left: 25px;
  }
  .service-content {
    padding-bottom: 50px;
  }
  .service-content .bg-img-right {
    width: 35%;
  }
}
@media (max-width: 480px) {
  .service-tab li a {
    padding: 30px 38px;
  }
  .service-img img {
    width: 75%;
  }
  .service-tab {
    margin-bottom: 25px;
  }
}

@media (max-width: 414px) {
  .service-tab li {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .services .service-title.top {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 25px;
  }
  .service-tab li a {
    padding: 25px;
  }
}
