.services-bannner {
  background-image: url(../../../images/frontend/banner-common.jpg);
}

.services .primary-title {
  text-align: center;
}

.services .service-title.top {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  margin-bottom: 55px;
}

.service-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 70px;
}
.service-tab li a {
  padding: 20px 25px;
  font-size: 16px;
  line-height: 24px;
  display: block;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  color: var(--quadriple-color);
  opacity: 0.3;
  min-width: 225px;
}

.service-tab li.active a {
  background: var(--primary-color);
  color: var(--white);
  box-shadow: var(--blue-shadow);
  opacity: 1;
}
.service-tab li.active a:before {
  content: "";
  top: 100%;
  left: 0;
  position: absolute;
  height: 15px;
  width: 75px;
  background: var(--primary-color);
  /* border: 15px solid transparent; */
  /* border-top-color: var(--primary-color); */
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.service-content {
  /* background-image: url(../../assets/images/services/service-bg.png); */
  background-repeat: no-repeat;
  margin-bottom: 100px;
  position: relative;
}

.service-content .bg-img {
  position: absolute;
  top: 0;
}

.service-content .bg-img-left {
  left: 0;
  width: 15%;
}
.service-content .bg-img-right {
  right: 0;
  width: 16%;
}

.service-content .service-title {
  text-align: left;
  font-size: 25px;
  line-height: 37px;
  margin-bottom: 15px;
  font-weight: bold;
}

.service-list li {
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  color: var(--para-color);
}

.service-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  height: 8px;
  width: 8px;
  background: var(--primary-color);
  transform: translateY(50%);
}

.service-img img {
  width: 90%;
  margin: 0 auto;
}
.service-content .para {
  margin-bottom: 50px;
}

