@media (max-width: 1440px) {
  .bottom-block .block .btn-primary {
    margin-top: 25px;
  }
  .banner {
    padding: 200px 0px 225px;
  }
  .banner .left-location {
    left: 23%;
    top: 41%;
    transform: translate(-50%, -50%) rotate(-1deg);
  }
  .banner .right-worker {
    position: absolute;
    width: 16%;
    right: 12%;
  }
  .banner .right-location {
    right: 16%;
    top: 57%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1366px) {
  .banner {
    padding: 175px 0px 200px;
  }
  .banner .right-worker {
    width: 14%;
  }
}

@media (max-width: 1280px) {
  .contact-list > li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 1200px) {
  .blog-card {
    flex: 0 0 calc(100% / 3 - 10px);
    max-width: calc(100% / 3 - 10px);
  }
  .bottom-block .text-wrapper {
    padding-left: 25px;
  }
  .banner {
    padding: 100px 0px 125px;
  }
  .banner .hero-text {
    font-size: 56px;
    line-height: 1.1;
  }
  .banner .desc {
    font-size: 22px;
    padding: 15px 0 15px;
    line-height: 28px;
  }
  .banner .left-location {
    top: 35%;
    width: 3%;
  }
  .banner .right-location {
    right: 18%;
    top: 52%;
    width: 3%;
  }
}

@media (max-width: 1024px) {
  .service .top-block .service-title {
    font-size: 38px;
    line-height: 52px;
  }
}

@media (max-width: 991px) {
  .service .cards-wrapper .card-block img {
    width: 90px;
    height: 90px;
  }

  .service .cards-wrapper .card-block {
    padding: 90px 30px 30px;
    min-height: 180px;
  }

  .service .cards-wrapper .card-block .text {
    font-size: 16px;
  }
  .blog-card {
    flex: 0 0 calc(100% / 2 - 10px);
    max-width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 768px) {
  .bottom-block {
    padding: 80px 0;
    flex-wrap: wrap;
  }
  .bottom-block .block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .bottom-block .img-wrapper {
    padding: 0;
  }
  .bottom-block .img-wrapper img {
    max-width: 75%;
    margin: 0 auto 25px;
  }
  .bottom-block .block .btn-primary {
    margin-top: 0;
  }
  .blog-card {
    flex: 0 0 calc(100% / 1 - 10px);
    max-width: calc(100% / 1 - 10px);
  }
  /* .banner .left-worker {
    left: 12%;
    width: 9%;
  }
  .banner .right-worker {
    width: 17%;
    right: 7%;
  }
  .banner .left-location {
    top: 39%;
    width: 3%;
    left: 17%;
  }
  .banner .right-location {
    right: 14%;
    top: 58%;
    width: 3%;
  } */

  .service .bottom-block {
    padding: 50px 0;
  }
  .bottom-block .text-wrapper {
    padding-left: 0;
  }
  .bottom-block .block .desc {
    font-size: 24px;
  }
  .banner {
    padding: 75px 0px 100px;
  }
  .banner .left-worker {
    left: 12%;
    width: 7%;
    bottom: 22px;
  }
  .banner .right-worker {
    bottom: 22px;
    width: 15%;
  }
  .banner .right-location {
    right: 12%;
    top: 56%;
  }
  .banner .left-location {
    top: 44%;
    width: 2%;
  }
  .banner .hero-text {
    line-height: 1;
  }
  .banner .desc {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .banner .btn-primary {
    text-align: center;
    min-width: fit-content;
    font-size: 16px;
  }
  .banner .hero-text {
    font-size: 42px;
  }
  .banner .desc {
    font-size: 16px;
    padding: 10px 0 5px;
  }
  .service .top-block .service-title {
    font-size: 33px;
    line-height: 40px;
  }
  .service .top-block .service-title br {
    display: none;
  }
  .top-block .desc {
    width: 100%;
  }
  .banner .right-worker {
    width: 18%;
  }
  .banner .left-worker {
    width: 9%;
  }
  .service .cards-wrapper .card-block {
    margin-right: 30px;
  }

  .service .cards-wrapper .card-block:nth-child(2n) {
    margin-right: 0 !important;
  }

  .service .cards-wrapper .card-block {
    margin-right: 30px !important;
  }

  .service .cards-wrapper .card-block {
    padding: 90px 55px 30px;
  }
  .service .cards-wrapper .card-block:last-child {
    margin-left: 30px;
  }
  .btn-primary {
    height: 55px;
    padding: 15px 30px;
  }
  .container-100 {
    margin: 0 auto;
    max-width: none !important;
  }
  .banner .btn-primary {
    box-shadow: 0px 15px 15px rgba(24, 27, 34, 0.3);
    text-align: center;
    min-width: 225px;
    font-size: 14px;
    height: 45px;
    padding: 15px 15px;
  }
}

@media (max-width: 480px) {
  .blog .top-block {
    margin-bottom: 25px;
  }
  .service .cards-wrapper .card-block {
    padding: 90px 43px 30px;
  }
}

@media (max-width: 414px) {
  .service .cards-wrapper .card-block {
    flex: 0 0 calc(100% / 2 - 8px);
    max-width: calc(100% / 2 - 8px);
  }
  .service .cards-wrapper .card-block {
    padding: 90px 25px 30px;
  }
  .service .cards-wrapper .card-block {
    margin-right: 15px !important;
  }
  .service .cards-wrapper .card-block:last-child {
    margin-left: 15px;
  }
  .banner .btn-primary {
    min-width: 225px;
    font-size: 14px;
    height: 45px;
    padding: 15px 15px;
  }
}
