/* banner section start  */
.banner {
  background-image: url("../../../images/frontend/banner-new.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 218px 0px 270px;
  position: relative;
}

.banner .left-location {
  position: absolute;
  left: 26%;
  top: 29%;
  transform: translate(-50%, -50%) rotate(-27deg);
  width: 4%;
}
.banner .right-location {
  position: absolute;
  right: 9%;
  top: 49%;
  transform: translate(-50%, -50%);
  width: 4%;
}
.banner .left-worker {
  position: absolute;
  width: 9%;
  left: 20%;
  width: 7%;
  bottom: 35px;
  transform: translate(-50%, 0);
}
.banner .right-worker {
  position: absolute;
  width: 16%;
  right: 5%;
  bottom: 35px;
  width: 13%;
  transform: translate(-25%, 0);
}

.banner .block {
  text-align: center;
}

.banner .hero-text {
  font-size: 90px;
  font-weight: 700;
  color: var(--white);
  margin: 0;
  line-height: 80px;
  position: relative;
}

.banner .stop {
  position: absolute;
  bottom: 1px;
  right: -6px;
  background: var(--white);
  margin-left: 5px;
  transform: translate(100%, -50%);
}

.banner .desc {
  font-size: 26px;
  font-weight: 400;
  color: var(--white);
  margin: 0;
  padding: 21px 0;
  line-height: 39px;
}

.banner .btn-primary {
  background: var(--white);
  color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 0px 40px 40px rgba(24, 27, 34, 0.3);
}

.banner .btn-primary:hover {
  background: var(--tertiary-color);
  border-color: var(--white);
  color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
