.thank-page {
  padding: 100px 0px 140px;
}
.thank-page .service {
  font-weight: bold;
  font-size: 90px;
  line-height: 80px;
  padding: 0;
}

.thank-page .btn-primary {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.thank-page .para {
  padding: 24px 0 42px;
  margin: 0;
}
