@media (max-width: 991px) {
  .thank-page {
    padding: 50px 0px 100px;
  }
  .thank-page .img-wrapper {
    margin-bottom: 50px;
  }
  .thank-page .cus-col:first-of-type {
    order: 2;
  }
  .thank-page .service br {
    display: none;
  }
  .thank-page {
    text-align: center;
  }
  .thank-page .btn-primary {
    font-weight: 400;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .thank-page .service {
    font-size: 68px;
    line-height: 68px;
    margin: 0;
  }
  .thank-page .para {
    padding: 15px 0 25px;
  }
}

@media (max-width: 480px) {
  .thank-page .btn-primary {
    font-size: 14px;
  }
  .thank-page .img-wrapper {
    margin-bottom: 25px;
  }
  .thank-page .service {
    font-size: 56px;
    line-height: 56px;
    margin: 0;
  }
  .thank-page {
    padding: 50px 0;
  }
}
