@media (max-width: 1680px) {
  .about-tab-2-sec-1 {
    background-size: 100% 101%;
  }
}

@media (max-width: 1440px) {
  .about-tab-2-sec-1 {
    background-size: 100% 100%;
    background-position: center;
  }
  .about-tab-2-sec-1 .para.top {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 369px;
  }
}

@media (max-width: 1366px) {
  .gallery-list .gallery-item .gallery-card img {
    height: 369px;
  }
}

@media (max-width: 1280px) {
  .gallery-list .gallery-item .gallery-card img {
    height: 369px;
  }
}

@media (max-width: 1200px) {
  .gallery-list .gallery-item .gallery-card img {
    height: 369px;
  }
  .about-tab-2-sec-2 .service-title,
  .about-tab-2-sec-1 .service-title,
  .about-tab-1-sec-1 .service-title {
    font-size: 42px;
    line-height: 56px;
  }
  .about-tab-1-sec-1 .floatin-left {
    max-width: 65%;
  }
}

@media (max-width: 1024px) {
  .gallery-list .gallery-item .gallery-card img {
    height: 331px;
  }
}

@media (max-width: 991px) {
  .gallery-list .gallery-item .gallery-card img {
    height: 320px;
  }
  .about-tab-2-sec-2 .service-title,
  .about-tab-2-sec-1 .service-title,
  .about-tab-1-sec-1 .service-title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 42px;
  }
  .about .primary-title {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0.15em;
  }
  .about-tab-1-sec-1 .floatin-left {
    max-width: 50%;
  }
  .about .cus-tab li a {
    min-width: 225px;
    height: 70px;
  }
  .about-tab-2-sec-1 .para.top {
    width: 85%;
  }
  .about-tab-2-sec-2 {
    padding: 0 0 80px;
  }
}

@media (max-width: 768px) {
  .gallery-list .gallery-item .gallery-card img {
    height: 245px;
  }
  .about .cus-tab li {
    flex: 0 0 calc(33% - 18px);
    max-width: calc(33% - 18px);
  }
  .about .cus-tab li a {
    min-width: auto;
    width: 100%;
    padding: 0;
  }
  .about-tab-2-sec-1 {
    padding: 0 0 50px 0;
  }
  .about-tab-1-sec-1 .service-title br {
    display: none;
  }
  .about .contact-form .floating-form {
    top: 175px;
  }
  .about-tab-2-sec-2 .attach-file-label {
    margin-bottom: 20px !important;
  }

  .about-tab-2-sec-2 .submit-btn.btn-primary,
  .about-tab-2-sec-2 .btn-wrapper .attach-file-label {
    height: 50px;
    font-size: 16px;
  }
  .gallery-page {
    padding: 0px 0px 50px;
  }
  .about .cus-tab li a {
    height: 60px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .gallery-list .gallery-item .gallery-card img {
    height: 181px;
  }
  .about-tab-1-sec-1 .floatin-left {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .about-tab-2-sec-2 .service-title,
  .about-tab-2-sec-1 .service-title,
  .about-tab-1-sec-1 .service-title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 38px;
  }
  .about .cus-tab {
    flex-wrap: wrap;
  }
  .about .cus-tab li {
    flex: 0 0 calc(50% - 18px);
    max-width: calc(50% - 18px);
    margin-top: 20px;
  }
  .about .cus-tab li:first-of-type {
    margin-top: 0;
  }
  .about .primary-title {
    font-size: 20px;
  }
  .about .cus-tab {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .gallery-page .gallery-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .gallery-list .gallery-item .gallery-card img {
    height: 450px;
  }
  .about-tab-2-sec-1 .feedback-card {
    padding: 50px 20px 30px;
    margin-bottom: 20px;
  }
  .about-tab-2-sec-1 .para.top {
    width: 100%;
    margin-bottom: 25px;
  }
  .about-tab-2-sec-2 {
    padding: 0 0 50px;
  }
  .about-tab-2-sec-2 .attach-file-label {
    margin-bottom: 15px !important;
  }
  .about-tab-2-sec-2 .submit-btn.btn-primary,
  .about-tab-2-sec-2 .btn-wrapper .attach-file-label {
    font-size: 16px;
  }

  .about .cus-tab li a {
    height: 50px;
    font-size: 14px;
  }
}

@media (max-width: 414px) {
  .gallery-list .gallery-item .gallery-card img {
    height: 345px;
  }
  .about .cus-tab li {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 15px 0;
  }
  .about-tab-2-sec-1 {
    margin-bottom: 0;
  }
}
