/* about us page  */

.about-us-bannner {
  background-image: url("../../../images/frontend/banner-common.jpg");
}

.about .primary-title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.2em;
}

.about .contact-form .floating-form {
  top: 250px;
}

.about .service-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
}

.about #aboutTab {
  justify-content: center;
  border: none;
  gap: 25px;
  margin-bottom: 75px;
}

.about .cus-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}

.about .cus-tab li {
  margin-right: 30px;
}
.about .cus-tab li:last-child {
  margin-right: 0;
}

.about .cus-tab li a {
  background: var(--white) !important;
  margin: 0;
  border-radius: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--quadriple-color) !important;
  opacity: 0.3;
  border: 2px solid transparent;
  cursor: pointer;
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 275px;
  text-decoration: none;
  border: 2px solid var(--gray);
}

.about .cus-tab li a:hover {
  border: 2px solid var(--para-color);
  box-shadow: var(--hover-shadow);
}

.about .cus-tab li a:focus,
.about .cus-tab li a:active {
  box-shadow: none;
  outline: none;
  border: 2px solid var(--primary-color);
}

.about .cus-tab li a.active {
  background: var(--primary-color) !important;
  color: var(--white) !important;
  box-shadow: var(--blue-shadow);
  opacity: 1;
  border: 2px solid var(--primary-color) !important;
}

#aboutTabContent {
  padding-top: 60px;
}

.about-tab-1-sec-1 .primary-title,
.about-tab-1-sec-1 .service-title {
  text-align: center;
}
.about-tab-1-sec-1 .service-title {
  margin-bottom: 40px;
}

.about-tab-1-sec-1 .service-title .stop {
  margin-left: 10px;
}

#about-tab-1 .floatin-left {
  float: left;
  margin-right: 35px;
}

.about-tab-1-sec-2 {
  background-image: url("../../../images/frontend/Vector.png");
  background-size: 95% 100%;
  background-repeat: no-repeat;
  margin-top: 60px;
}

.about-tab-1-sec-2 .about-list {
  columns: 2;
  color: var(--white);
  padding: 80px 0;
  margin: 0;
}

.about-tab-1-sec-2 .about-list .about-item {
  margin-bottom: 20px;
}

.about-tab-1-sec-3 {
  text-align: left;
  padding: 80px 0px 100px;
}

.about-tab-1-sec-3 .primary-title {
  text-align: left;
}

.about-tab-1-sec-3 .service-title {
  margin-bottom: 30px;
}

.about-tab-1-sec-3 .service-title .stop {
  margin-left: 10px;
}

.about-tab-1-sec-2 .about-list .about-item {
  padding-left: 25px;
  position: relative;
}

.about-tab-1-sec-2 .about-list .about-item:before {
  content: "\f00c";
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--primary-color);
}

/* about tab 2  */
.about-tab-2-sec-1 {
  text-align: center;
  background-image: url("../../../images/frontend/client-review-bg.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  padding-top: 50px;
  padding-bottom: 100px;
}
.about-tab-2-sec-1 .service-title {
  margin-bottom: 30px;
}

.about-tab-2-sec-1 .service-title .stop {
  margin-left: 10px;
}

.about-tab-2-sec-1 .para.top {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
  background: var(--white);
}

.about-tab-2-sec-1 .feedback-card {
  box-shadow: var(--primary-shadow);
  padding: 80px 40px 30px;
  background: var(--white);
  margin-bottom: 30px;
}

.about-tab-2-sec-1 .feedback-card .para {
  color: var(--quadriple-color);
  font-weight: 300;
  text-align: left;
}

.about-tab-2-sec-1 .author-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.about-tab-2-sec-1 .author-block img {
  border-radius: 50%;
  margin-right: 25px;
}

.about-tab-2-sec-1 .author-block .author {
  margin: 0;
  color: var(--primary-color);
  font-weight: bold;
}

.about .about-tab-2-sec-1 .contact-form .floating-form {
  top: 325px;
}

.about-tab-2-sec-2 {
  padding: 80px 0;
  text-align: center;
}

.about-tab-2-sec-2 .service-title {
  margin-bottom: 25px;
}

.about-tab-2-sec-1 .para.top,
.about-tab-2-sec-2 .para.bottom {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about-tab-2-sec-2 .service-title.bottom {
  font-size: 25px;
  line-height: 37px;
}

.about-tab-2-sec-2 .btn-wrapper .attach-file-label {
  cursor: pointer;
  margin: 0;
  max-width: none;
  background: var(--gray);
  color: var(--tertiary-color);
  height: 60px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid var(--gray);
  font-weight: 500;
}

.about-tab-2-sec-2 .btn-wrapper .attach-file-label .icon {
  margin-right: 5px;
}

.about-tab-2-sec-2 .btn-wrapper .attach-file-label:hover {
  background: var(--white);
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

.about-tab-2-sec-2 .btn-wrapper input {
  display: none;
}

.about-tab-2-sec-2 .submit-btn.btn-primary {
  margin-left: auto;
  display: block;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--tertiary-color);
  width: 100%;
  font-size: 16px;
}

.about-tab-2-sec-2 .submit-btn.btn-primary:hover {
  background: var(--white);
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

/* about tab 3 */

/* gallery page  */
.gallery-bannner {
  background-image: url("../../../images/frontend/banner.png");
}

.gallery-page {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
}

.gallery-page .gallery-item {
  flex: 0 0 calc(100% / 3 - 10px);
  max-width: calc(100% / 3 - 10px);
  margin-bottom: 15px;
  margin-right: 15px;
}

.date-picker .daterangepicker {
  display: block;
  position: relative;
  width: 100% !important;
  top: 0;
  padding: 6px 12px;
  z-index: 9;
  left: 0;
  background: transparent;
  cursor: pointer;
  margin: 0;
}

.date-picker .form-group:before {
  content: "\f100";
  font-family: Flaticon;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  font-size: 20px;
  color: var(--tertiary-color);
}

.date-picker .form-control:focus {
  background: transparent;
}

.daterangepicker td.active {
  background: var(--tertiary-color);
}

.floatin-left {
  float: left;
  margin-right: 15px;
}

.gallery-page .gallery-item:nth-of-type(3n) {
  margin-right: 0;
}
