.ck-editor__editable,
textarea {
  min-height: 150px;
}

.datatable {
  width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
  margin-bottom: 0.333em;
}

.dt-buttons .btn {
  margin-left: 0.333em;
  border-radius: 0;
}

.table.datatable {
  box-sizing: border-box;
  border-collapse: collapse;
}

table.dataTable thead th {
  border-bottom: 2px solid #dee2e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #dee2e6;
}

.select2 {
  max-width: 100%;
  width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-image: none;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.form-group img {
  display: block;
}
ul.pagination {
  margin-bottom: 0;
}

.help-block {
  color: red;
}

.img-circle {
  background: #fff;
  width: 35px;
  height: 35px;
  max-height: initial;
  object-fit: contain;
}

@media (max-width: 991px) {
  .main-header {
    justify-content: flex-end;
  }
}
