@media (max-width: 1200px) {
  .moving-block,
  .contact-form .floating-form {
    width: 100%;
    max-width: 900px;
  }
  .get-quote-page .get-qoute-nav-tabs .btn-tab {
    padding: 105px 26px 15px;
    min-height: auto;
  }
  .get-quote-page .tab-img {
    width: 125px;
    height: 125px;
  }
  .get-quote-page .get-qoute-nav-tabs .btn-tab .tab-text {
    font-size: 20px;
    min-height: 75px;
  }
  .contact-form .service-title {
    font-size: 42px;
    line-height: 56px;
  }
}

@media (max-width: 1024px) {
  .get-quote-page .top-block .container {
    max-width: 960px;
  }
  .get-quote-page .get-qoute-nav-tabs .btn-tab {
    padding: 90px 26px 15px;
    min-height: auto;
  }
  .get-quote-page .tab-img {
    width: 100px;
    height: 100px;
  }
  .get-quote-page .get-qoute-nav-tabs .btn-tab .tab-text {
    font-size: 18px;
    min-height: 65px;
  }
}

@media (max-width: 991px) {
  .moving-block,
  .contact-form .floating-form {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .contact-form .floating-form {
    top: 460px;
  }

  .moving-block {
    padding: 0;
    overflow: hidden;
  }
  .get-quote-page {
    padding: 100px 0 0;
  }
  .get-quote-page .get-qoute-nav-tabs {
    flex-wrap: wrap;
  }
  .get-quote-page .get-qoute-nav-tabs .nav-item {
    flex: 0 0 calc(100% / 3 - 10px);
    max-width: calc(100% / 3 - 10px);
  }
  .get-quote-page .get-qoute-nav-tabs .nav-item:nth-of-type(3n) {
    margin-right: 0;
  }
  .get-quote-page .get-qoute-nav-tabs .nav-item:nth-of-type(n + 4) .btn-tab {
    margin-top: 50px;
  }
  .get-quote-page .get-qoute-nav-tabs .btn-tab .tab-text {
    min-height: 50px;
  }
  .moving-block,
  .contact-form .floating-form {
    max-width: none;
    width: calc(100% - 30px);
  }
  .get-quote-page .get-qoute-nav-tabs .btn-tab {
    padding: 90px 32px 15px;
  }
  .get-quote-page {
    margin: 50px 0 0;
  }
  .contact-form .floating-form {
    top: 480px;
  }
  .get-quote-page .get-qoute-nav-tabs .nav-item:nth-of-type(n + 4) .btn-tab {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .contact-form .floating-form {
    top: 725px;
  }
  .get-quote-page .get-qoute-nav-tabs .nav-item {
    flex: 0 0 calc(100% / 2 - 10px);
    max-width: calc(100% / 2 - 10px);
  }
  .get-quote-page .get-qoute-nav-tabs .nav-item:nth-of-type(n + 3) .btn-tab {
    margin-top: 50px;
  }
  .get-quote-page .get-qoute-nav-tabs .nav-item:nth-of-type(2n) {
    margin-right: 0;
  }
  .get-quote-page .get-qoute-nav-tabs .nav-item:nth-of-type(3n) {
    margin-right: 15px;
  }
  .moving-block {
    flex-direction: column;
  }

  .moving-block .block {
    width: 100%;
    margin: 0;
  }

  .moving-block .left-block {
    margin-bottom: 75px;
  }
  .moving-block:before {
    height: 75px;
    width: 75px;
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: 26px;
  }
  .contact-form .service-title {
    font-size: 33px;
    line-height: 40px;
  }
  .contact-form .primary-title {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0.15em;
  }
  .get-quote-page .date-picker {
    width: 90%;
    min-width: auto;
  }
  .get-quote-page {
    padding: 50px 0 0;
  }
}

@media (max-width: 480px) {
  .get-quote-page .date-picker input {
    padding-right: 50px;
  }
  .get-quote-page .contact-form .floating-form {
    top: 725px;
  }
}

@media (max-width: 414px) {
  .get-quote-page .get-qoute-nav-tabs .btn-tab {
    padding: 90px 20px 15px;
  }
  .get-quote-page .date-picker input::placeholder {
    font-size: 13px !important;
  }
  .moving-block:before {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .moving-block .block {
    padding: 25px 15px;
  }
  .contact-form .tab-pane {
    padding: 50px 15px;
  }
  .moving-block .left-block {
    margin-bottom: 50px;
  }
  .progress-wrap {
    margin-top: 0;
  }
  .contact-form .floating-form {
    top: 700px;
  }
  .contact-form .service-title {
    font-size: 28px;
    line-height: 36px;
  }
  .get-quote-page .contact-form .floating-form {
    top: 665px;
  }
}
