.get-quote-bannner {
  background-image: url("../../../images/frontend/get_quote/get-qoute-banner.jpg");
  color: var(--white);
  margin-bottom: 0;
}

.get-quote-page {
  margin: 125px 0 0;
  background-image: url("../../../images/frontend/get_quote/get-quote-bg.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.get-quote-page .top-block {
  /* padding-bottom: 50px; */
  background-size: 100%;
}

.get-quote-page .get-qoute-nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  margin-bottom: 200px;
}

.get-quote-page .get-qoute-nav-tabs .nav-item {
  flex: 0 0 calc(100% / 5 - 6px);
  max-width: calc(100% / 5 - 6px);
  margin-right: 15px;
}

.get-quote-page .get-qoute-nav-tabs .nav-item:last-of-type {
  margin-right: 0;
}

.get-quote-page .get-qoute-nav-tabs .btn-tab {
  text-decoration: none;
  color: var(--tertiary-color) !important;
  border: none;
  border-radius: 0;
  min-height: 180px;
  position: relative;
  padding: 125px 10px 5px;
  box-shadow: var(--primary-shadow);
  text-align: center;
  border: 2px solid transparent;
  background: var(--white);
}
.get-quote-page .get-qoute-nav-tabs .btn-tab.active {
  border: none;
  border: 2px solid var(--tertiary-color);
}

.get-quote-page .get-qoute-nav-tabs .btn-tab:hover {
  border: 2px solid var(--tertiary-color);
  box-shadow: var(--hover-shadow);
}

.get-quote-page .tab-img {
  margin: 0 auto;
  width: 125px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  transition: all 0.3s;
}

.get-quote-page .get-qoute-nav-tabs .btn-tab.active .tab-img {
  transform: translate(-50%, -32%);
}

.get-quote-page .get-qoute-nav-tabs .btn-tab:hover .tab-img {
  transform: translate(-50%, -32%);
}

.get-quote-page .tab-text {
  font-size: 18px;
}

.get-quote-page .date-picker {
  width: 35%;
  margin: 0 auto 50px;
  min-width: 400px;
}

.get-quote-page .date-picker .form-control {
  margin: 0;
  background: transparent;
}

.get-quote-page .date-picker .para {
  text-align: center;
}

.get-quote-page .date-picker {
  position: absolute;
  top: -100px;
  transform: translate(-50%, -50%);
  left: 50%;
  max-width: 400px;
}

.get-quote-page .date-picker input {
  margin-bottom: 0 !important;
  cursor: pointer;
}

.moving-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 75%; */
  margin: 0 auto;
  padding: 25px;
  background: var(--white);
  /* margin-bottom: 50px; */
  position: relative;
  max-width: 1170px;
  border-radius: 15px;
  margin-top: 20px;
}
.moving-block .form-group {
  margin-bottom: 30px;
}

.moving-block .form-group:nth-of-type(n + 2) {
  margin: 0;
}

.moving-block:before {
  content: "\f061";
  font-family: Fontawesome;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--white);
  background: var(--tertiary-color);
  font-size: 34px;
}

.moving-block .block {
  flex: 1;
  padding: 25px;
  background: var(--white);
}

.moving-block .block .form-group:last-of-type .form-control {
  margin: 0 !important;
}

.moving-block .left-block {
  position: relative;
  margin-right: 100px;
}

/* .personal-info {
  text-align: center;
  padding: 50px;
  box-shadow: var(--primary-shadow);
  border: 2px solid var(--gray-color); 
} */

.personal-info .personal-info-block {
  margin-bottom: 50px;
}

.personal-info .per-info-pills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 35px 0;
}

.personal-info .nav-link {
  text-decoration: none;
  color: var(--tertiary-color) !important;
  border: none;
  border-radius: none;
  position: relative;
  box-shadow: var(--primary-shadow);
  text-align: center;
  border: 2px solid var(--gray-color);
  padding: 15px 30px;
}

.personal-info .nav-link.active {
  border: none;
  border: 2px solid var(--primary-color);
}

.personal-info .nav-link:hover {
  border: 2px solid transparent;
  border: 2px solid var(--primary-color);
  box-shadow: var(--hover-shadow);
}

.more-info-block .primary-title {
  margin-bottom: 25px;
}
.more-info-block .btn-primary {
  border-color: var(--tertiary-color);
  background: var(--tertiary-color);
  color: var(--white);
  height: 65px;
}
.more-info-block .btn-primary:hover {
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
  background: var(--white);
}

#get-quoteTabContent .tab-pane {
  text-align: center;
  padding: 100px 50px;
  box-shadow: var(--primary-shadow);
  background: var(--white);
}

.get-quote-page .daterangepicker {
  display: block;
  position: relative;
  width: 100% !important;
  top: 0;
  padding: 6px 12px;
  z-index: 9;
  left: 0;
  background: transparent;
  cursor: pointer;
}

.date-picker .form-group {
  position: relative;
  margin-bottom: 0;
}

.date-picker .form-group:before {
  content: "\f100";
  font-family: Flaticon;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  font-size: 20px;
  color: var(--tertiary-color);
  z-index: -1;
  transition: all 0.3s;
}

.date-picker .form-group:hover:before {
  color: var(--primary);
}

.date-picker td.active.start-date.active.end-date.available {
  background: var(--tertiary-color);
}

.contact-form {
  min-height: 991px;
  margin-bottom: 350px;
  padding-top: 75px;
}

.contact-form .floating-form {
  width: 1170px;
  max-width: 1170px;
  top: 557px;
}

service-title.bottom {
  margin-bottom: 15px;
}

.progress-wrap {
  margin-top: 25px;
}

/* .get-quote-page .get-qoute-nav-tabs .btn-tab .tab-img {
  animation: bounce 2s infinite forwards linear;
}

.get-quote-page .get-qoute-nav-tabs .btn-tab.active .tab-img {
  animation: none;
} */

@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate(-50%, calc(-32% - 0px));
    transform: translate(-50%, calc(-32% - 0px));
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate(-50%, calc(-32% - 30px)) scaleY(1.1);
    transform: translate(-50%, calc(-32% - 30px)) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate(-50%, calc(-32% - 15px)) scaleY(1.05);
    transform: translate(-50%, calc(-32% - 15px)) scaleY(1.05);
  }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate(-50%, calc(-32% - 0)) scaleY(0.95);
    transform: translate(-50%, calc(-32% - 0)) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate(-50%, calc(-32% - 4px)) scaleY(1.02);
    transform: translate(-50%, calc(-32% - 4px)) scaleY(1.02);
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate(-50%, calc(-32% - 0px));
    transform: translate(-50%, calc(-32% - 0px));
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate(-50%, calc(-32% - 30px)) scaleY(1.1);
    transform: translate(-50%, calc(-32% - 30px)) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate(-50%, calc(-32% - 15px)) scaleY(1.05);
    transform: translate(-50%, calc(-32% - 15px)) scaleY(1.05);
  }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate(-50%, calc(-32% - 0)) scaleY(0.95);
    transform: translate(-50%, calc(-32% - 0)) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate(-50%, calc(-32% - 4px)) scaleY(1.02);
    transform: translate(-50%, calc(-32% - 4px)) scaleY(1.02);
  }
}
