@media (max-width: 1024px) {
  .blog-details {
    padding-top: 0;
  }
  .blog-listing .blogs-row .blog-card {
    flex: 0 0 calc(100% / 2 - 15px);
    max-width: calc(100% / 2 - 15px);
  }

  .blog-listing .blogs-row .blog-card:nth-child(3n) {
    margin-right: 30px;
  }
  .blog-listing .blogs-row .blog-card:nth-child(2n) {
    margin-right: 0;
  }
  .blog-details .recent-articles .blog-card {
    flex-direction: column;
    margin-right: 0;
  }

  .blog-details .blog-card .img-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .blog-details .blog-card .text-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
  }

  .blog-details .recent-articles .blog-card .text-wrapper .title {
    min-height: 50px;
    padding: 10px 0;
  }
  .blog-details .blog-card .img-wrapper img {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  .blog-details .recent-articles .service-title {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 768px) {
  .blog-details .recent-articles .blog-card .text-wrapper .title {
    min-height: 75px;
  }
  .blog-details .blog-banner img {
    height: 400px;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .blog-listing .blogs-row .blog-card {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .blog-listing .blogs-row .blog-card:nth-child(3n) {
    margin-right: 0;
  }
  .blog-details .recent-articles .blog-card {
    margin-bottom: 25px;
  }
  .blog-details .blog-banner img {
    height: 300px;
  }
  .blog-details .recent-articles .blog-card .text-wrapper .title {
    min-height: auto;
  }
}

@media (max-width: 480px) {
  .blog-listing .read-more-btn {
    font-size: 16px;
    min-width: 150px;
    height: 50px;
  }
  .blog-details .recent-articles .service-title {
    font-size: 28px;
    line-height: 38px;
  }
}
