/* blogs listing page  */
.blogs-banner {
  background-image: url("../../../images/frontend/banner-common.jpg");
}
.blog-listing {
  padding-bottom: 0;
}

.blog-listing .blogs-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.blog-listing .blogs-row .blog-card {
  margin-bottom: 50px;
  margin-right: 30px;
  flex: 0 0 calc(100% / 3 - 20px);
  max-width: calc(100% / 3 - 20px);
}

.blog-listing .blogs-row .blog-card:nth-child(3n) {
  margin-right: 0;
}

.blog-listing .blog-card .text-wrapper {
  text-align: left;
}

.blog-listing .read-more-btn {
  display: inline-flex;
  background: var(--tertiary-color);
  color: var(--white);
  padding: 10px 20px;
  text-decoration: none;
  min-width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  transition: all 0.3s;
  font-size: 18px;
}

.blog-listing .read-more-btn:hover {
  text-decoration: none;
  border: 2px solid var(--tertiary-color);
  background: transparent;
  color: var(--tertiary-color);
}

.blog-listing .get-quote-sec {
  position: relative;
  padding: 50px 0 75px;
}
.blog-listing .get-quote-sec .primary-title {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2em;
}
.blog-listing .get-quote-sec .secondary-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
}
.blog-listing .get-quote-sec .desc {
  font-size: 18px;
  line-height: 27px;
}

.blog-listing .get-quote-sec .floating-img-1 {
  position: absolute;
  right: 75px;
  bottom: 25%;
  max-width: 298px;
}

.blog-listing .get-quote-sec .floating-img-2 {
  position: absolute;
  left: 75px;
  bottom: 25%;
  max-width: 355px;
}
.blog-listing .get-quote-sec .btn-primary {
  box-shadow: 0px 10px 12px rgba(25, 114, 204, 0.3);
}

.blog-listing .get-quote-sec .btn-primary:hover {
  box-shadow: none;
}

/* blog details  */

.blog-details {
  padding-top: 50px;
}

.blog-details .blog-banner {
  text-align: center;
  margin-bottom: 25px;
}

.blog-details .blog-banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.blog-details .content {
  text-align: left;
}

.blog-details .recent-articles {
  padding-top: 50px;
}

.blog-details .recent-articles .service-title {
  text-align: left;
  font-weight: 700;
  padding-bottom: 25px;
}

.blog-details .recent-articles .blog-card {
  flex: auto;
  max-width: none;
  display: flex;
}

.blog-details .blog-card .img-wrapper {
  flex: 0 0 45%;
  max-width: 45%;
}
.blog-details .blog-card .text-wrapper {
  flex: 0 0 55%;
  max-width: 55%;
  padding-left: 15px;
}

.blog-details .recent-articles .blog-card .text-wrapper .title {
  font-size: 17px;
  padding-top: 0;
}

.blog-details .recent-articles .blog-card .text-wrapper .desc {
  font-size: 15px;
  margin: 0;
}

.blog-details .blog-card .img-wrapper .date {
  width: 75px;
  height: 75px;
}

.blog-details .blog-card .img-wrapper .date .day {
  font-size: 38px;
}

.blog-details .blog-card .img-wrapper .date .month {
  font-size: 16px;
}
