@media (max-width: 1680px) {
  .contact-page-wrapper .top-sec .left-block {
    padding-left: 270px;
  }
}

@media (max-width: 1600px) {
  .contact-page-wrapper .top-sec .left-block .service-title {
    font-size: 40px;
  }
}

@media (max-width: 1440px) {
  .contact-page-wrapper .top-sec .right-block {
    background-position: left bottom;
    padding-left: 250px;
    background-size: cover;
    flex: 0 0 65%;
    max-width: 65%;
    height: 302px;
  }

  .contact-page-wrapper .top-sec .left-block {
    flex: 0 0 35%;
    padding-left: 165px;
  }

  .contact-page-wrapper .top-sec .right-block .service-title,
  .contact-page-wrapper .top-sec .left-block .service-title {
    font-size: 38px;
  }
}

@media (max-width: 1366px) {
  .contact-page-wrapper .top-sec .left-block {
    padding-left: 135px;
  }
}

@media (max-width: 1280px) {
  .contact-page-wrapper .top-sec .left-block {
    padding-left: 85px;
  }
}

@media (max-width: 1200px) {
  .contact-page-wrapper .top-sec .left-block {
    padding-left: 45px;
  }

  .contact-page-wrapper .top-sec .right-block {
    padding: 90px 0 90px 320px;
  }

  .address-page .cus-card {
    min-width: 475px;
  }
}

@media (max-width: 1024px) {
  .contact-page-wrapper .top-sec .right-block {
    padding: 90px 0 90px 275px;
  }
  .address-page {
    margin: 0 50px;
  }
  .address-page .cus-card {
    min-width: auto;
    flex: 1;
    padding: 30px 40px;
  }
}

@media (max-width: 991px) {
  .contact-page-wrapper .top-sec {
    flex-wrap: wrap;
  }

  .contact-page-wrapper .top-sec .left-block,
  .contact-page-wrapper .top-sec .right-block {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .contact-page-wrapper .top-sec .left-block {
    padding: 25px 0;
  }

  .contact-page-wrapper .top-sec .right-block {
    height: auto;
    padding: 50px 0;
  }
  .address-page .cus-card .service-title {
    font-size: 38px;
    line-height: 52px;
  }
  .address-page .cus-card .primary-title {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0.15em;
  }
  .address-page {
    margin: 0 15px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right,
  .contact-page-wrapper .top-sec .left-block .service-title {
    line-height: 1 !important;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right {
    justify-content: center;
    font-size: 68px;
  }
}

@media (max-width: 768px) {
  .contact-page-wrapper .bottom-sec .floating-form {
    top: 150px;
  }

  .contact-page-wrapper .top-sec .right-block .primary-title,
  .contact-page-wrapper .top-sec .left-block .primary-title {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.1em;
  }
  .contact-page-wrapper .top-sec .right-block .service-title,
  .contact-page-wrapper .top-sec .left-block .service-title {
    font-size: 32px;
    line-height: 48px;
  }
  .address-page {
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .address-page .cus-card {
    padding: 20px;
    margin-right: 15px;
  }

  .address-page .cus-card:last-of-type {
    margin: 0;
  }

  .contact-page-wrapper .top-sec .right-block .service-title.right .rest .bottom {
    font-size: 22px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right .rest {
    font-size: 18px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right {
    font-size: 58px;
  }
}

@media (max-width: 576px) {
  .address-page .cus-card {
    margin: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
    padding: 40px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title,
  .contact-page-wrapper .top-sec .left-block .service-title {
    font-size: 28px;
    line-height: 38px;
  }
  .contact-page-wrapper .top-sec .right-block .primary-title,
  .contact-page-wrapper .top-sec .left-block .primary-title {
    font-size: 18px;
    line-height: 28px;
  }
  .contact-form .floating-form {
    padding: 50px !important;
  }
  .address-banner iframe {
    height: 250px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right {
    justify-content: center;
    font-size: 60px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right .rest {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .contact-form .floating-form {
    padding: 50px 25px !important;
  }
  .contact-page-wrapper .bottom-sec .floating-form .btn-primary {
    height: 50px;
    padding: 0;
    font-size: 14px;
  }
  .contact-form .floating-form textarea.form-control {
    height: 125px;
  }
  .contact-page-wrapper .contact-form {
    min-height: 550px;
  }
  .contact-page-wrapper .bottom-sec .floating-form {
    top: 125px;
  }
  .address-page .cus-card {
    padding: 20px;
  }

  .address-page .cus-card .service-title {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .address-page .cus-card .primary-title {
    font-size: 20px;
    line-height: 28px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right {
    font-size: 38px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right .rest {
    font-size: 14px;
  }
  .contact-page-wrapper .top-sec .left-block .service-title .stop {
    margin-left: 10px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right .rest .bottom {
    font-size: 17px;
  }
}

@media (max-width: 414px) {
  .contact-page-wrapper .top-sec .left-block {
    padding: 0 0 15px;
  }
  .contact-page-wrapper .top-sec .right-block {
    padding: 25px 0;
  }

  .contact-page-wrapper .top-sec .right-block .service-title,
  .contact-page-wrapper .top-sec .left-block .service-title {
    font-size: 24px;
    line-height: 30px;
  }
  .contact-page-wrapper .top-sec .right-block .primary-title,
  .contact-page-wrapper .top-sec .left-block .primary-title {
    font-size: 16px;
    line-height: 22px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right .rest .bottom {
    font-size: 15px;
  }
  .contact-page-wrapper .top-sec .right-block .service-title.right .rest {
    font-size: 12px;
  }
}
