/* contcact us page */

.contact-us-bannner {
  background-image: url("../../../images/frontend/contact_us/map.svg");
}

.contact-page {
  padding: 75px 0;
}

.form-block {
  padding: 35px 60px;
  box-shadow: 0px 10px 50px rgba(53, 82, 99, 0.09);
}

.form-block .primary-title {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2em;
}

.form-block .secondary-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  margin-bottom: 35px;
}
.form-block .btn-primary {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  background: var(--tertiary-color);
  font-weight: 400;
}

.form-block .btn-primary:hover {
  background: transparent;
  border: 2px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

.contact-detail {
  border: 1px solid #ddd;
  padding: 35px 60px;
  margin-bottom: 30px;
}

.contact-detail .primary-title {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.contact-detail .para {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.contact-detail .block:first-of-type {
  margin-bottom: 30px;
}

.contact-img-block {
  padding: 0px 60px;
  height: 440px;
  background-image: linear-gradient(rgba(28, 132, 255, 0.8), rgba(28, 130, 255, 0.8)), url("../../../images/frontend/contact_us/truck.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 12px rgba(25, 114, 204, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-img-block .hero-text {
  color: var(--white);
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 40px;
}

.contact-img-block .btn-primary {
  background: var(--white);
  color: var(--tertiary-color);
}

.contact-img-block .btn-primary:hover {
  background: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}

/* contact-page-wrapper */

.contact-page-wrapper-banner {
  background-image: url("../../../images/frontend/banner-common.jpg");
}
.contact-page-wrapper .block {
  flex: 1;
}

.contact-page-wrapper .top-sec {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

.contact-page-wrapper .top-sec .left-block {
  flex: 0 0 40%;
  padding-left: 400px;
  padding-top: 90px;
}

.contact-page-wrapper .top-sec .left-block .primary-title {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2em;
}
.contact-page-wrapper .top-sec .left-block .service-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
}
.contact-page-wrapper .top-sec .left-block .service-title .stop {
  margin-left: 15px;
}

.contact-page-wrapper .top-sec .right-block {
  background-image: url("../../../images/frontend/contact_us/get-in-touch bg.png");
  padding: 90px 0 90px 320px;
  flex: 0 0 60%;
  text-decoration: none;
}

.contact-page-wrapper .top-sec .right-block:hover {
  text-decoration: none;
}

.contact-page-wrapper .bottom-sec {
  margin-top: -60px;
}

.contact-page-wrapper .top-sec .right-block .primary-title {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2em;
  color: var(--white);
}
.contact-page-wrapper .top-sec .right-block .service-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  color: var(--white);
}

.contact-page-wrapper .bottom-sec .floating-form {
  padding: 90px;
  top: 186px;
}

.contact-page-wrapper .bottom-sec .floating-form .btn-primary {
  width: 100%;
  height: 66px;
}

/* address */
.address-banner {
  /* background-image: url("../../assets/images/contact-us/map.svg"); */
  margin: 0;
}
.address-banner iframe {
  width: 100%;
  height: 350px;
}

.address-page {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.address-page .cus-card .primary-title {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.address-page .cus-card .service-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  color: var(--tertiary-color);
}

.address-page .cus-card .para {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--para-color);
}

.address-page .cus-card .number {
  font-weight: normal;
  line-height: 24px;
  color: var(--para-color);
  text-decoration: none;
  font-size: 18px;
}

.address-page .number-block .service-title.right {
  display: flex;
  align-items: center;
  font-size: 32px;
  margin: 0;
  line-height: 1;
  margin-right: 10px;
  width: fit-content;
  text-decoration: none;
}

.address-page .number-block .service-title.right .rest {
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-left: 5px;
}

.address-page .number-block .service-title.right .rest .top {
  font-size: 13px;
}

.address-page .number-block .service-title.right .rest .bottom {
  font-size: 15px;
}

.address-page .number-block {
  /* display: flex;
  align-items: flex-end; */
}

.address-page .cus-card .number:hover {
  color: var(--para-color);
}

.address-page .cus-card {
  padding: 40px 50px;
  border: 2px solid #c4c4c4;
  align-items: center;
  min-width: 550px;
  text-decoration: none;
  margin-right: 30px;
}

.address-page .cus-card:last-of-type {
  margin-right: 0;
}

.address-page .cus-card.active {
  background: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

.address-page .cus-card.active .primary-title,
.address-page .cus-card.active .service-title,
.address-page .cus-card.active .para {
  color: var(--white);
}

.contact-page-wrapper .top-sec .right-block .service-title.right {
  display: flex;
  /* background: red !important; */
  align-items: center;
  font-size: 76px;
  margin-bottom: 0;
}

.contact-page-wrapper .top-sec .right-block .service-title.right .rest {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 22px;
  line-height: 1.25;
  margin-left: 5px;
}

.contact-page-wrapper .top-sec .right-block .service-title.right .rest .bottom {
  font-size: 26px;
}

.land-line .label {
  font-weight: bold;
}

.land-line {
  display: block;
  margin: 10px 0;
}
